.App {
  text-align: center;
}

.navigation {
  list-style: none;
  background-color: #efefef;
}

.navigation li {
  display: inline;
  padding-right: 10px;
}

.navigation a {
  text-decoration: none;
}
